<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link href="../static/output.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="bg-base-300 text-white">
    <div class="flex items-center justify-center h-screen">
        <div class="max-w-lg p-6 bg-black shadow-md rounded-lg">
            <h1 class="text-3xl font-bold mb-4">Coming Soon</h1>
            <p class="text-gray-400 mb-4">This page will be available soon. We are working on it to provide you with a
                support for APIs.</p>
            <p class="text-gray-400">Please check back later!</p>
        </div>
    </div>
</body>

</html>
